.Grid {
  display: flex;
  flex-wrap: wrap; }
  .Grid .Col {
    flex: 1; }
    @media (max-width: 767px) {
      .Grid .Col {
        flex: 0 0 100%; } }

.Grid-gutters {
  margin-left: -1em; }
  .Grid-gutters > .Col {
    margin-left: 1em; }
