// Flex - A Flexbox Grid
// =====================

// Define Variable Defaults
// --------------------------------------------------
// These variables give the grid a default state, a
// breakpoint at 768px and gutter width of 24px.
// --------------------------------------------------
$gridBreak: 768px !default;
$gridGutterWidth: 1em !default;

// Setup the grid
// --------------------------------------------------
// A rudimentary flexbox grid, .grid--item 's will
// fill the space, .grid defines a row and fills its
// parent container
// --------------------------------------------------
.Grid {
  display: flex;
  flex-wrap: wrap;

  .Col {
    flex: 1;
    @media (max-width: $gridBreak) {
      flex: 0 0 100%;
      -webkit-flex: 0 0 100%;
    }
  }
}
 
.Grid-gutters {
  margin-left: -$gridGutterWidth;
  > .Col {
    margin-left: $gridGutterWidth;
  }
}
